@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --accent: #FF69B4;
  --secondary-bg: #F5F5F5;
}

body {
  color: var(--foreground);
  background: var(--secondary-bg);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}